@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


body,
a,
input,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
select,
ul,
li,
span,
table,
tr,
th,
thead,
tbody,
td,
label,
textarea {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #b19f91;
}

::-webkit-scrollbar {
    width: 8px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: #665c54;
    /*   box-shadow: inset 0 0 5px grey;  */
}

::-webkit-scrollbar-thumb {
    background: #f09764;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #e28e5c;

}

p {
    line-height: 2;
    color: #8b7d72;
}

input::placeholder,
textarea::placeholder {
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-color: #7c6f64;
    --selection-color: #ff6b4d;
    --primary-color: #6708ff;
    --second-color: #7c6f64;
    --front-color: #00db58;
    --border-main: 6px;
    --modal-header-bg: #fafafa;
    --modal-header-bbc: #eeeeee;
    --side-header-bg: #eee;
    --icon-color-sidebar: #adb4d7;
    --color-text-sidebar: rgb(125, 125, 125);
    --modal-footer-bt: #e5e5e5;

}

::selection {
    background: #e28e5c;
    color: white;
}


a {
    text-decoration: none;
    color: #e28e5c;
}

a:hover {
    color: #e37d43;
    text-decoration: none;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    background: #1d2021;
}

body * {
    margin: 0;
    padding: 0;
}


.owl-theme .owl-nav button {
    background: #32302f none repeat scroll 0 0 !important;
    border-radius: 50% !important;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, .2);
    display: inline-block;
    height: 40px;
    text-align: center;
    text-transform: uppercase;
    width: 40px;
    color: #e28e5c !important;
}

.owl-theme .owl-nav button:hover {
    color: #282828 !important;
}

.owl-theme .owl-nav .owl-prev {
    margin: 0 0 0 -20px;
    box-shadow: 1px 1px 8px -2px rgb(0 0 0 / 20%) !important;
}

.owl-theme .owl-nav .owl-next {
    margin: 0 -20px 0 0;
    box-shadow: 1px 1px 8px -2px rgb(0 0 0 / 20%) !important;
}

.owl-prev {
    left: 0;
    position: absolute;
    top: 40%;
    transition: all .45s cubic-bezier(.165, .84, .44, 1) 0s;
}

.owl-next {
    position: absolute;
    right: 0;
    top: 40%;
    transition: all .45s cubic-bezier(.165, .84, .44, 1) 0s;
}

.category .owl-next {
    position: absolute;
    right: 0;
    top: 41%;
    transition: all .45s cubic-bezier(.165, .84, .44, 1) 0s;
}

.category .owl-prev {
    left: 0;
    position: absolute;
    top: 41%;
    transition: all .45s cubic-bezier(.165, .84, .44, 1) 0s;
}

.postlist .owl-next {
    position: absolute;
    right: 0;
    top: 42%;
    transition: all .45s cubic-bezier(.165, .84, .44, 1) 0s;
}

.postlist .owl-prev {
    left: 0;
    position: absolute;
    top: 42%;
    transition: all .45s cubic-bezier(.165, .84, .44, 1) 0s;
}

.teams .owl-next {
    position: absolute;
    right: 0;
    top: 40%;
    transition: all .45s cubic-bezier(.165, .84, .44, 1) 0s;
}

.teams .owl-prev {
    left: 0;
    position: absolute;
    top: 40%;
    transition: all .45s cubic-bezier(.165, .84, .44, 1) 0s;
}

.owl-theme .owl-nav [class*='owl-']:hover {
    background: #978577 !important;
    color: #7c6f64;
}

.wrap-nav {
    /* margin: .5rem 0 0; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    padding: 1.5rem 1rem;
    background: #3c3836;
}

.nav-item {
    position: relative;
    display: inline-block;
    font-size: .865rem;
}

.nav-item>a {
    padding: .4rem .7rem;
}

.nav-item>a:hover {
    color: #c0ad9e !important;
    font-weight: bold;
}

.item-social {
    display: inline-block;
    margin: 0 .2rem;
}

.item-social a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* border: 1px solid #616161; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #665c54;
    transition: ease-in .3s;
    font-size: 22px;
    background: linear-gradient(225deg, #665c54, #7c6f64);
}

.submenu {
    display: none;
    position: absolute;
    background: #32302f;
    padding: .2rem 1rem;
    border-radius: 6px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    top: 32px;
    height: auto;
    width: 256px;
    z-index: 999;
    border-top: 1px solid #665c54;
}

.sub-item,
.sub2-item {
    margin: .5rem 0;
}

.nav-item a {
    color: #b19f91;
    /* transition: ease-in .3s; */
}

.nav-item a:hover {
    color: #c0ad9e;
    /* transition: ease-out .3s; */
}

.sub-item {
    position: relative;
}

.submenu2 {
    display: none;
    position: absolute;
    background: #32302f;
    padding: .2rem 1rem;
    border-radius: 6px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    top: 0;
    left: 15.5rem;
    height: auto;
    width: 256px;
    z-index: 999;
}

.nav-title {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title:hover {
    font-weight: bold;
    /* background: #fff7df; */
    /* color: #ffc109 !important; */
}

.item-slider {
    height: 480px;
    object-fit: cover;
}

.wrap-sidebar-slider {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    height: 100%;
}

.card-sidebar-slider {
    width: 100%;
    background: #1d2021;
    padding: .5rem;
    border-radius: var(--border-main);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card-sidebar-slider-image {
    height: 218px;
}

.card-sidebar-slider-image img {
    height: 100%;
    width: 100%;
    object-fit: 100% cover;
}

.carousel {
    /* border-radius: var(--border-main); */
    /* overflow: hidden; */
}

.wrap-list {
    width: 96%;
}

.card-listing {
    position: relative;
    background: #32302f;
    border-radius: 8px;
    width: 100%;
    height: 185px;
    display: flex;
    align-items: center;
    justify-content: start;
    overflow: hidden;
    padding: 4px calc(100vw/30) 4px 4px;
    /* box-shadow: rgb(161 161 161 / 10%) 0px 10px 15px -3px, rgb(188 188 188 / 5%) 0px 4px 6px -2px; */
    box-shadow: 0px 1px 1px 0px #7c6f64;
    border: 1px solid #665c54;
}

.card-listing-image {
    height: 162px;
    width: 162px;
    margin-left: 4px;
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid #b19f91;
}

.card-listing-image a img {
    /*     border-radius: 4px; */
    height: 100%;
    width: 100%;
}

.card-listing-content {
    position: relative;
    height: 100%;
    padding: 0 0 .5rem 0;
    width: 100%;
}

.card-listing-content a h6 {
    /* font-weight: bold; */
    font-size: 16px;
}

.owl-stage-outer {
    padding: 1rem 0;
}

.titr-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.4rem;
    padding-bottom: .6rem;
    /* border-bottom: 2px dashed rgb(148, 148, 148); */
}

.titr-list h3 {
    /* font-family: 'Russo One', sans-serif; */
    color: 504945;
}

.view-more {
    font-family: 'Russo One', sans-serif;
    font-size: 1rem !important;
}

.card-listing-options {
    padding-left: 4px;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #3c3836;
    font-size: 13px;
    flex-direction: row-reverse;
}

.card-category-image {
    width: 280px;
    height: 280px;
    border-radius: 20px;
    overflow: hidden;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border: 6px solid rgb(255, 255, 255);
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
}

.btn-category-listings {
    background: var(--main-color);
    padding: .5rem;
    color: white;
    border-radius: 6px;
}

.title-category-listing {
    font-family: 'Russo One', sans-serif;
    color: white;
    font-size: 1.5rem;
}

.card-teams {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.card-teams img {
    width: 100%;
    height: 200px;
    object-fit: 100% cover;
}

.card-teams img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.card-teams:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.card-teams a {
    background: rgb(255 255 255 / 25%);
    padding: .4rem;
    border-radius: 4px;
    font-size: 12px;
    color: rgb(255 255 255);
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.text-black {
    color: #b19f91;
}

/* .card-blog {
  position: relative;
  width: 300px;
  height: 350px;
  background: #32302f;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  overflow: hidden;
} */

.card-blog {
    position: relative;
    width: 100%;
    height: 350px;
    background: #32302f;
    border-radius: 10px;
    /* box-shadow: rgba(105, 105, 105, 0.1) 0px 10px 15px -3px, rgb(188 188 188 / 5%) 0px 4px 6px -2px; */
    overflow: hidden;
    border: 1px solid #665c54;
}

.card-single-blog {
    position: relative;
    width: 100%;
    height: auto;
    background: #32302f;
    /* border-radius: 10px; */
    /* box-shadow: rgba(105, 105, 105, 0.1) 0px 10px 15px -3px, rgb(188 188 188 / 5%) 0px 4px 6px -2px; */
    overflow: hidden;
    border: 1px solid #665c54;
}

.card-blog-image img {
    width: 100%;
    height: 180px;
    object-fit: 100% cover;
}

.card-blog-content {
    padding: .5rem 1rem;
}

.card-blog-content h1 {
    /* font-weight: bold; */
    line-height: 1.3;
    font-size: 22px;
}

.card-blog-content h3 {
    font-size: 18px;
    /* font-weight: bold; */
    line-height: 1.3;
}

.card-blog-social {
    display: flex;
    align-items: center;
    gap: .2rem;
    color: #978577;
    font-size: 12px;
}

.card-blog-social .fa {
    color: #978577;
}

.card-blog-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 0 1rem;
    position: absolute;
    bottom: 1rem;
    width: 100%;
}

.card-blog-option .fa {
    font-size: 15px;
}

.card-blog-image span {
    font-size: 12px;
}

.date-blog {
    background: #282828;
    color: #e28e5c;
    padding: 0 .4rem;
    border-radius: 6px;
}

.date-blog span {
    font-size: 10px;
}

.blog-category span {
    font-size: 10px;
}

.blog-category {
    background: #282828;
    color: #e28e5c;
    padding: .1rem 0.4rem;
    border-radius: 6px;
    font-size: 10px;
}

.blog-category a {
    color: #e28e5c;
}

.blog-category i {
    font-size: 16px;
}

.site-logo {
    width: 150px;
    height: auto;
}

.site-logo a img {
    width: 100%;
    height: auto;
}

.menu-and-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card-testimonials {
    width: 100%;
    background: #32302f;
    border-radius: 6px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .5rem;
    overflow: hidden;
    /* box-shadow: rgb(161 161 161 / 10%) 0px 10px 15px -3px, rgb(188 188 188 / 5%) 0px 4px 6px -2px; */
    border: 1px solid #665c54;
}

.card-testimonials-image {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 6px;
}

.card-testimonials-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-testimonials-title {
    font-size: 14px;
    /* font-weight: bold; */
}

.wrap-testimonials {
    padding: 10px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.card-testimonials-content {
    /* position: absolute; */
    width: 100%;
    background: #665c54;
    color: #211d16;
    padding: 1rem;
    border-radius: 6px;
    text-align: justify;
    line-height: 1;
    /* transform: scaleX(0); */
    transition: all .5s;
    /* z-index: 99; */
    /* top: 6rem; */
    font-size: 12px;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

/* .card-testimonials:hover~.card-testimonials-content {
  display: block;
  transform: scaleX(1);
} */

.card-countup {
    width: 100%;
    /* background: #32302f; */
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    overflow: hidden;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

.countup-number {
    font-weight: bold;
    font-size: 24px;
    /* font-family: 'Russo One', sans-serif; */
    color: #eaecef;
}

.countup-title h6 {
    /* font-family: 'Russo One', sans-serif; */
    font-size: 14px;
    color: #bbc1c5;
}

.titr-counter {
    padding-bottom: .6rem;
}

.titr-counter h2 {
    /* font-family: 'Russo One', sans-serif; */
    color: rgb(148, 148, 148);
}

.footer-widget {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
}

.footer {
    background: #32302f;
    border-top: 4px solid var(--main-color);
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: auto;
}

.title-footer-widget h3 {
    display: inline-block;
    /* font-family: 'Russo One', sans-serif; */
    font-size: 20px;
    color: #665c54;
    padding-bottom: 4px;
    padding-right: 1rem;
    border-bottom: 2px solid #978577;
}

.content-footer-widget {
    font-size: 12px;
    text-align: justify;
    color: #7c6f64;
}

.copyright {
    border-top: 2px solid #1d2021;
    background: #665c54;
    color: #141313;
    font-size: 12px;
}

.content-footer-widget ul li a {
    color: #7c6f64;
}

.content-footer-widget ul li i {
    font-size: 16px;
}

.content-footer-widget li {
    text-align: left;
    color: var(--main-color);
    margin-bottom: 1rem;
}

.content-footer-widget .item-social i {
    font-size: 20px !important;
}

.btn-search {
    border-left: none;
    border-color: #504945;
    /* border-top-right-radius: 20px; */
    /* border-bottom-right-radius: 20px; */
    background: #32302f;
}

.btn-search i {
    font-size: 14px;
    color: #7c6f64;
}

.input-search {
    width: 300px !important;
    height: 30px;
    font-size: 13px;
    border: none;
    background: #504945;
    box-shadow: 0px 2px 5px -4px #3c3836;
    font-weight: bold;
    letter-spacing: 0.03em;
    color: #b19f91;
}

.input-search::placeholder {
    font-size: 13px;
    color: #7c6f64 !important;
}

.input-search:focus {
    box-shadow: unset !important;
    background-color: #32302f !important;
    border-right: none !important;
}

.btn-search:focus {
    box-shadow: unset !important;
}



.mt-10 {
    margin-top: 5rem;
}

.mb-10 {
    margin-bottom: 5rem;
}


/* ----- Sidebar ----- */
.modal.left .modal-dialog {
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
    overflow-y: auto;
}

.modal.left.fade .modal-dialog {
    left: -320px !important;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.show .modal-dialog {
    left: 0 !important;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: var(--modal-header-bbc);
    background-color: var(--modal-header-bg);
}

.modal-title {
    color: var(--navbar-color);
}

.side-header {
    background: var(--side-header-bg);
    padding: 1rem;
}

.modal-body {
    padding: unset;
}

.side-content {
    padding: 1rem;
}

.side-content a {
    line-height: 2.6;
}

.icon-color-sidebar {
    color: var(--icon-color-sidebar);
}

.color-text-sidebar {
    color: #7c6f64;
}

.modal-footer {
    justify-content: space-between;
    border-top: 2px solid var(--modal-footer-bt);
}

.w-img-logo-sidebar {
    /* width: 120px; */
}

.fontsize-icon-account {
    font-size: 1.2rem;
    color: #f09764;
}

.navbar-toggler {}

.side-nav-dropdown {
    position: relative;
    width: 100%;
    font-size: 12.5px;
}

.side-nav-dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.side-nav-dropdown ul li {
    /* Sub Menu */
}

.side-nav-dropdown ul li a {
    display: flex;
    /* background: #ebebeb; */
    padding: 10px 15px;
    color: #7c6f64;
    text-decoration: none;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
    justify-content: space-between;
    align-items: center;
}

.side-nav-dropdown ul li a:hover {
    /* background: #f8f8f8; */
    color: #7c6f64;
}

.side-nav-dropdown ul li a .fa {
    width: 16px;
    text-align: center;
    margin-right: 5px;
    float: right;
}

.side-nav-dropdown ul ul {
    /* background-color: #ebebeb; */
}

.side-nav-dropdown ul li ul li a {
    /* background: #f8f8f8; */
    border-left: 4px solid transparent;
    padding: 10px 20px;
}

.side-nav-dropdown ul li ul li a:hover {
    /* background: #ebebeb; */
    border-left: 4px solid #f09764;
}


/* ----- Sidebar ----- */


.icon-main-menu {
    color: #e7e6f1;
    font-size: 12px;
    margin-right: 6px;
    background: #32302f;
    padding: 4px;
    border-radius: 4px;
    box-shadow: 0px 2px 8px #e8e7ed;
}

.wrap-profile {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
}

.btn-signin {
    background: #665c54;
    color: #e28e5c;
    font-size: .865rem;
    padding: .3rem .6rem;
    border-radius: 4px;
    transition: all .3s;
}

.btn-signin:hover {
    background: #7c7066;
    color: #d68759;
}

.icon-btn:hover {
    background: #fff;
    color: #ffa600;
}

.icon-btn {
    background: #fff7de;
    color: #ffbf00;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 15px;
    border-radius: 4px;
    transition: all .3s;
}

a.icon-search {
    background: #665c54;
    color: #e28e5c;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin-right: 5px;
    border-radius: 4px;
    transition: all .3s;
}

a.icon-search:hover {
    background: #f7f7f7;
    color: #9d9d9d;
}

.section-slide {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.wrap-right-menu {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
}

.btn-slider {
    border: none;
    border-radius: 30px;
    padding: .6rem 1.8rem;
    color: white;
    background: #e28e5c;
    font-size: 22px;
    transition: all .3s;
}

.btn-slider:hover {
    opacity: .9;
    color: #3c3836;
}

.nav-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #32302f;
    padding: .6rem .4rem;
    width: 100%;
}

.form-control {
    color: #7c6f64;
    background-color: #32302f;
    border: 1px solid #504945 !important;
}

.form-control:focus {
    color: #7c6f64;
    background-color: #3c3836;
    border-color: #7c6f64;
}

.wrap-search-slider {
    position: relative;
}

.search-slider {
    color: #fff;
    width: 540px !important;
    height: 46px;
    background: #32302f;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 12px 2px 2px;
    border-radius: 8px;
    overflow: hidden;
}

.search-slider i {
    color: #7c6f64;
    font-size: 19px;
}

.input-search-slider {
    height: 100%;
    background: #32302f;
    border: none !important;
    color: #7c6f64;
}

.input-search-slider:focus {
    color: #fff;
    background: transparent;
    border: none;
    box-shadow: unset;
}

.input-search-slider::placeholder {
    color: #7c6f64;
    font-size: 16px !important;
}

.slider-title {
    font-size: 3rem;
    color: white;
    font-weight: bold;
}

.job-position {
    position: absolute;
    background: #ccc;
    padding: 4px;
    border-radius: 4px;
}

.job-position {
    color: rgb(255, 123, 0);
    position: absolute;
    background: #ffffff47;
    padding: 4px;
    border-radius: 4px;
    z-index: 1;
    left: 10px;
    top: 10px;
    font-size: 12px;
}

.job-position a {
    color: white;
    display: contents;
}

.card-profile-image {
    border-radius: 8px;
    width: 100%;
    background: #32302f;
    padding: 1rem;
}

.card-profile-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.card-profile-details {
    padding: 1rem 2rem;
    margin-left: 1.5rem;
}

.content-profile {
    padding: 1rem;
    background: #32302f;
    border-left: 4px solid #e28e5c;
    margin-top: 1rem;
}

.card-profile-details .job {
    margin-left: 10px;
    color: #7c6f64;
}

.card-profile-details div h1 {
    color: #b19f91;
}

.card-profile-details span b {
    color: #504945;
}

.content-info {
    display: block;
    padding: .5rem;
    background: #32302f;
    color: #7c6f64;
    border-left: 4px solid #e28e5c;
    margin-bottom: .5rem;
    font-size: 14px;
}

.icon-profile {
    margin: 0 10px;
    color: #e28e5c;
    font-size: 16px;
}

.hr-profile {
    margin: 2rem .8rem;
    border-top: 2px dashed #b19f91;
}

.inc-profile {
    text-align: right;
    color: #b19f91;
}

.modal-header {
    background: none;
    border: none;
    padding: 10px;
}

.modal-content-login {
    border-radius: 8px;
}

.card-top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #32302f;
    padding: 1.5rem 2rem;
    border-radius: 6px;
    box-shadow: 0px 1px 1px 0px #7c6f64;
}

.top-section-icon i {
    font-size: 2.5rem;
    color: #e28e5c;
}

.top-section-icon {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    background: #665c54;
    flex-shrink: 0;
    overflow: hidden;
}

.top-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-wrap: break-word;
    width: 100%;
    text-align: center;
}

.top-section-title {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: .5rem;
    color: #665c54;
}

.top-section-description {
    color: #b19f91;
    font-size: 11px;
    margin-bottom: .5rem;
}

.top-section-button {
    background: #e28e5c;
    border-radius: 4px;
    text-align: center;
    color: white;
    padding: .4rem 1rem;
    transition: all .3s;
}

.top-section-button:hover {
    color: white;
    background: #e37d43;
}

.wrap-top-section-button {
    margin-top: 1rem;
    text-align: center;
}

.carousel-caption {
    right: unset;
    left: 3%;
    text-align: left;
}

.carousel-caption h5 {
    font-size: 15px;
}

.carousel-caption h4 {
    padding-top: 2px;
    font-size: 20px;
    font-weight: bold;
}

.card-blog-description {
    color: #978577;
    font-size: 13px;
    padding-top: .6rem;
}

.card-blog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: .6rem;
    width: 100%;
    padding: 0 10px;
}

.btn-hlr {
    padding: .4rem;
    border-radius: 4px;
    background: #e28e5c;
    color: white;
    font-size: 11px;
    transition: all .3s;
}

.btn-hlr:hover {
    background: #e37d43;
    color: white;
}

.post-image-single {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
}

.post-image-single::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 480px;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.313);
}

.post-meta-header {
    position: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #ffe7d9;
    font-size: 22px;
    gap: 6rem;
    z-index: 4;
}

.post-meta {
    display: flex;
    align-items: center;
    gap: .6rem;
    opacity: .9;
}

.post-meta a {
    color: #ffe7d9;

}

.aligncenter {
    clear: both;
}

.aligncenter {
    clear: both;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.card-single-blog-description {
    color: #6f6f6f;
    font-size: 15px;
    padding-top: .6rem;
}

.card-single-blog-description img {
    border-radius: 6px;
    border: 8px solid #665c54;
    padding: 4px;
}

.card-header.tab-card-header {
    background: #32302f;
    border: none;
}

.nav-tabs .nav-link.active {
    color: #504945;
    background-color: #282828;
    border-bottom: 3px solid #e28e5c;
    font-weight: bold;
}

.nav-tabs .nav-link:hover {
    border-color: unset;
    border-bottom: 3px solid #b19f91;
}

.nav-tabs .nav-link {
    border: none;
    border-bottom: 3px solid #7c6f64;
}

.card {
    border: 1px solid #665c54;
}

.card-post-sidebar {
    display: flex;
    align-items: center;
    width: 100%;
    background: #665c54;
    border-radius: 4px;
    overflow: hidden;
    border-right: 3px solid #b19f91;
    /* box-shadow: rgb(172 172 172 / 20%) 0px 2px 8px 0px; */
    transition: all .3s;
}

.card-post-sidebar:hover {
    background: #7c6f64;
}

.card-post-sidebar-image {
    width: 50px;
    height: 50px;
    overflow: hidden;
    flex-shrink: 0;
}

.card-post-sidebar-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-post-sidebar-content {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: self-start;
    width: 100%;
}

.card-post-sidebar-title {
    color: #282828;
    font-size: 12;
    margin-bottom: 6px;
}

.card-post-sidebar-meta {
    color: #b19f91;
    font-size: 10px;
}

.wrap-card-post-sidebar-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.card-properties-image {
    width: 200px;
    background: #32302f;
    padding: .5rem;
    /* border-bottom: 4px solid #665c54; */
    width: 100%;
}

.card-properties-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.incentives {
    height: 218px;
    width: 100%;
    overflow-y: scroll;
    padding: 0 .5rem 0 0;
}

#map {
    width: 100%;
    height: 248px;
}

.wrap-map {
    margin-top: .6rem;
    padding: .5rem;
    border: 8px solid #7c6f64;
}

.rvs-container {
    background-color: #282828 !important;
}

.rvs-container a.rvs-nav-item {
    border-color: #3c3836 !important;
}

.rvs-container a.rvs-nav-item:hover {
    background-color: #3c3836 !important;
}

.rvs-container a.rvs-nav-item.rvs-active {
    background-color: #e28e5c !important;
}

.rvs-container a.rvs-nav-item.rvs-active,
.rvs-container a.rvs-nav-item.rvs-active:first-child {
    border-color: #e28e5c !important;
}

.rvs-container a.rvs-play-video:hover {
    border-color: #e28e5c !important;
}

.rvs-container a.rvs-play-video:hover {
    background-color: #e28e5c !important;
}

h4.rvs-nav-item-title {
    color: #665c54 !important;
}

small.rvs-nav-item-credits {
    color: #b19f91;
}

.card-developments {
    background: #32302f;
    border-bottom: 3px solid #e28e5c;
    padding: 1rem;
}

.card-developments-title {
    font-weight: bold;
    color: #b19f91;
    margin-bottom: 10px;
}

.card-developments-content {
    color: #978577;
    font-size: 14px;
}

.img-floorplan {
    width: 100%;
}

.update-label {
    position: absolute;
    top: -28px;
    left: 0;
    background: #e28e5c;
    color: white;
    padding: .2rem .5rem;
    border-radius: 6px;
    font-size: 11px;
}

.card-listing-description a {
    color: #978577;
    font-size: 10px;
    margin-top: 4px;
    width: 100%;
}

.more {
    transform: rotate(270deg);
    position: absolute;
    right: -60px;
    align-items: center;
    justify-content: space-between;
    top: 43%;
    width: 166px;
    background: #665c54;
    padding: 2px 8px;
    border-radius: 8px;
    display: flex;
}

.card-share {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #b19f91e8;
    padding: 1rem;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border-left: 2px solid #e28e5c;
    border-right: 2px solid #e28e5c;
    transform: translateY(-208px);
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 24px;
}

.opened {
    transform: translateY(0px) !important;
}

.fa-instagram {
    color: #3c3836;
}

.fa-linkedin-square {
    color: #3c3836;
}

.fa-linkedin {
    color: #3c3836;
}

.fa-telegram {
    color: #3c3836;
}

.fa-facebook-square {
    color: #3c3836;
}

.fa-whatsapp {
    color: #3c3836;
}

.fa-twitter-square {
    color: #3c3836;
}

.fa-reddit {
    color: #3c3836;
}

.fa-youtube {
    color: #3c3836;
}

.fa-pinterest {
    color: #3c3836;
}

.card-share a {
    transition: all .3s;
}

.card-share a:hover {
    transform: translateY(-6px);
}

.share-close {
    position: absolute;
    bottom: 6px;
    font-size: 14px;
    color: #504945;
}

.card-share-single {
    background: #7c6f64;
    width: auto;
    height: auto;
    display: inline-block;
    border-radius: 8px;
    border-left: 2px solid #e28e5c;
    border-right: 2px solid #e28e5c;
    font-size: 24px;
    margin: 1rem 0;
}

.card-share-single-options {
    height: 32px;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.card-share-single-options a {
    font-size: 18px;
}

.card-share-float {
    position: fixed;
    left: 0;
    top: 26%;
    background: #665c54;
    width: auto;
    height: auto;
    display: inline-block;
    font-size: 24px;
    z-index: 10;
    transform: translateX(-50px);
    transition: all .3s;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.opened-share-float {
    transform: translateX(0);
}

.card-share-float-options {
    width: 50px;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.fa-share-square-o {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: #e28e5c;
    color: #32302f;
    position: absolute;
    top: 41%;
    right: -40px;
    font-size: 20px;
}

.image-price img {
    width: 100%;
}

.hlr-tooltip {
    position: relative;
}

.hlr-tooltip-popup {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 50px;
    position: absolute;
    font-size: 10px;
    background: #b19f91;
    padding: .5rem;
    border-radius: 4px;
    left: 40px;
    top: -13px;
    color: #3c3836;
    z-index: 10;
    text-align: center;
}

.hlr-tooltip-popup::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: -9px;
    top: 15px;
    z-index: -1;
    background: #b19f91;
    transform: rotate(45deg);
}

a.page-numbers {
    background: #32302f;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 0 5px;
    transition: all .3s;
}

a.page-numbers:hover {
    background: #fff2d6;
}

span.page-numbers {
    background: #e28e5c;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 0 5px;
    color: white;
}

#wrap-counter::before {
    content: '';
    border-top: 4px solid #ced7e0;
    width: 50%;
    position: absolute;
    top: -25%;
    border-left: 4px solid #ced7e0;
    height: 94%;
    left: 3%;
    border-top-left-radius: 30px;
    box-shadow: -13px -13px 0px #ced7e085;
    opacity: 0.6;
}

#wrap-counter::after {
    content: '';
    border-bottom: 4px solid #ced7e0;
    width: 50%;
    position: absolute;
    bottom: -25%;
    border-right: 4px solid #ced7e0;
    height: 94%;
    right: 3%;
    border-bottom-right-radius: 30px;
    box-shadow: 13px 13px 0px #ced7e085;
    opacity: 0.6;
}

.bg-counter {
    background: linear-gradient(to right, #3c3836, #7c6f64);
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.card-teams img {
    width: 200px !important;
    height: 200px !important;
}


.modal-dialog-login {
    width: 400px;
    margin: 70px auto 0;
}

.modal-dialog-login {
    transform: scale(0.5);
}

.modal-dialog-login {
    transform: scale(1);
}

.modal-dialog-login .modal-content-login {
    text-align: center;
    border: none;
}

.modal-content-login .close {
    color: #fff;
    background: linear-gradient(to right, #ff9800, #ffc107, #ff9800);
    font-size: 25px;
    font-weight: 400;
    text-shadow: none;
    line-height: 27px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    overflow: hidden;
    opacity: 1;
    position: absolute;
    left: auto;
    right: 8px;
    top: 8px;
    z-index: 1;
    transition: all 0.3s;
}

.modal-content-login .close:hover {
    color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.close:focus {
    outline: none;
}

.modal-body-login {
    padding: 26px !important;
}

.modal-body-login .title {
    color: 504945;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 0 10px;
}

.modal-body-login .description {
    color: #9A9EA9;
    font-size: 16px;
    margin: 0 0 20px;
}

.modal-body-login .form-group {
    text-align: left;
    margin-bottom: 20px;
    position: relative;
}

.modal-body-login .input-icon {
    color: #777;
    font-size: 18px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 20px;
}

.modal-body-login .form-control {
    font-size: 17px;
    height: 45px;
    width: 100%;
    padding: 6px 0 6px 50px;
    margin: 0 auto;
    border: 2px solid #eee;
    border-radius: 5px;
    box-shadow: none;
    outline: none;
}

.modal-body-login .form-group .form-control::placeholder {
    color: #7c6f64;
}

.modal-body-login .form-group .form-group.checkbox {
    width: 130px;
    margin-top: 0;
    display: inline-block;
}

.modal-body-login .form-group.checkbox label {
    color: #9A9EA9;
    font-weight: normal;
}

.form-group.checkbox input[type=checkbox] {
    margin-left: 0;
}

.wrap-bottom-login .forgot-pass {
    color: #7F7FD5;
    font-size: 13px;
    text-align: center;
    margin: 2px 0;
    transition: all 0.3s ease 0s;
}

.forgot-pass:hover {
    color: #9A9EA9;
    text-decoration: underline;
}

.modal-content-login .modal-body-login .btn {
    color: #fff;
    background: linear-gradient(to right, #1b557c, #3b749b, #3b749b);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 38px;
    width: 100%;
    height: 40px;
    padding: 0;
    border: none;
    border-radius: 5px;
    border: none;
    display: inline-block;
    transition: all 0.6s ease 0s;
}

.modal-content-login .modal-body-login .btn:hover {
    color: #b19f91;
}

.modal-content-login .modal-body-login .btn:focus {
    outline: none;
}

@media only screen and (max-width: 480px) {
    .modal-dialog-login {
        width: 95% !important;
    }

    .modal-content-login .modal-body-login {
        padding: 26px !important;
    }
}

.sign-in-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-top: 2rem;
}

.btn-orange-form {
    color: #fff;
    background: linear-gradient(to right, #ff6c00, #ff9900, #ff8822) !important;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 38px;
    width: 100%;
    height: 40px;
    padding: 0;
    border: none;
    border-radius: 5px;
    border: none;
    display: inline-block;
    transition: all 0.6s ease 0s;
}

.error-info {
    font-size: 12;
    color: #7c7c7c;
    border-left: 2px solid #fd2f2f;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: left;
    margin-bottom: 1.2rem;
}

.success-info {
    font-size: 12;
    color: #7c7c7c;
    border-left: 2px solid #62d714;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: left;
    margin-bottom: 1.2rem;
}

.form-loading {
    background: #ffffffa4;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}


.login-by-social {
    margin: 10px 0;
    width: 100%;
    height: auto;
}

a.google-login {
    padding: 10px;
    background: #db4a39;
    color: white;
    width: 100%;
    display: block;
    border-radius: 4px;
    text-align: center;
}

.nsl-container-buttons {
    width: 100%;
}

.wpo365-mssignin-wrapper {
    padding: 0 !important;
}

.wpo365-mssignin-spacearound {
    width: 100% !important;
}

.wpo365-mssignin-button {
    border-radius: 4px;
}

.menu-account-profile {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.menu-account-profile img {
    width: 100%;
}

.menu-account {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.menu-account-name {
    font-size: 13px;
    color: #a5a5a5;
    cursor: pointer;
}

.menu-account-body a {
    display: block;
    margin: 4px 0;
    color: #978577;
}

.menu-account-body {
    display: none;
    position: absolute;
    background: #32302f;
    padding: 10px;
    width: 200px;
    top: 42px;
    z-index: 9;
    right: -2px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

@keyframes openAnimation {
    from {
        opacity: 0;
        transform: translate3d(0, 30px, 0);
    }

    to {
        opacity: 1;
        transform: none;
        transform: translate3d(0, 0, 0);
    }
}

.openAnimation {
    animation-name: openAnimation;
    animation-duration: .4s;
    animation-fill-mode: both;
}


@keyframes closeAnimation {
    from {
        opacity: 1;
        transform: none;
        transform: translate3d(0, 0, 0);
    }

    to {
        opacity: 0;
        transform: translate3d(0, 30px, 0);
    }
}

.closeAnimation {
    animation-name: closeAnimation;
    animation-duration: .4s;
    animation-fill-mode: both;
}

.menu-account-name i {
    font-size: 10px;
}

.menu-account-body i {
    margin-right: 8px;
}

@keyframes righttooltip {
    from {
        opacity: 0;
        transform: translate3d(15px, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
        transform: translate3d(0, 0, 0);
    }
}

.righttooltip {
    animation-name: righttooltip;
    animation-duration: .6s;
    animation-fill-mode: both;
}

@keyframes toptooltip {
    from {
        opacity: 0;
        transform: translate3d(0, 15px, 0);
    }

    to {
        opacity: 1;
        transform: none;
        transform: translate3d(0, 0, 0);
    }
}

.toptooltip {
    animation-name: toptooltip;
    animation-duration: .6s;
    animation-fill-mode: both;
}

@keyframes lefttooltip {
    from {
        opacity: 0;
        transform: translate3d(-15px, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
        transform: translate3d(0, 0, 0);
    }
}

.lefttooltip {
    animation-name: lefttooltip;
    animation-duration: .6s;
    animation-fill-mode: both;
}

@keyframes bottomttooltip {
    from {
        opacity: 0;
        transform: translate3d(0, -15px, 0);
    }

    to {
        opacity: 1;
        transform: none;
        transform: translate3d(0, 0, 0);
    }
}

.bottomttooltip {
    animation-name: bottomttooltip;
    animation-duration: .6s;
    animation-fill-mode: both;
}

.slide-progress {
    width: 0;
    max-width: 100%;
    height: 3px;
    background: #e28e5c;
}


.testimonials-body {
    width: 100%;
    border-radius: 6px;
    background: #32302f;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.mystyle-owl-dots {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 0;
}

.mystyle-owl-dots button span {
    height: 10px !important;
    transition: height 600ms ease 0s !important;
}

.mystyle-owl-dots button.active span {
    height: 25px !important;
    transition: height 400ms ease 0s !important;
    background: #e28e5c !important;
}

.properties-category .owl-item {
    padding: 0 30px 0 15px;
}

.lable-listing {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    justify-content: start;
    height: 92px;
    width: 100%;
    font-weight: bold;
}

.lable-listing div:nth-child(1) {
    background: #504945;
    color: #a79281;
    padding: 5px;
    border-radius: 6px;
    margin-bottom: 4px;
}

.lable-listing div:nth-child(2) {
    background: #504945;
    color: #a79281;
    padding: 5px;
    border-radius: 6px;
    margin-bottom: 4px;
}

.lable-listing div:nth-child(3) {
    background: #504945;
    color: #a79281;
    padding: 5px;
    border-radius: 6px;
    margin-bottom: 4px;
}

.card-listing-options i {
    transform: rotate(90deg);
}

.card-body-listing {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: 8px;
    width: 56%;
}

.card-listing-options #like-total {
    transform: unset !important;
}


.card-listing-v2 {
    width: 100%;
    height: 200px;
}

.card-body-listing-v2 {
    height: 170px;
}

.card-listing-image-v2 {
    height: 178px;
    width: 178px;
    margin-left: 8px;
}

.lable-listing-v2 {
    width: 100%;
    height: 216px;
}

.card-listing-description-v2 {
    width: 100%;
}

.more-v2 {
    right: -68px;
    top: 43%;
    width: 182px;
}

.ads-banner {
    border-radius: 6px;
    overflow: hidden;
    height: 270px;
}

.ads-banner img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.wrap-ads-banner .owl-stage-outer {
    padding-top: 0;
}

.search-result {
    display: none;
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 999;
    height: fit-content;
    max-height: 200px;
    overflow-y: scroll;
    padding: 10px;
    background: #665c54;
}

.result-card {
    background: #3c3836;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    border-left: 4px solid #e28e5c;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.result-card a {
    color: #b19f91;
    font-size: 14px;
}

.pac-container {
    display: none !important;
}

h4.info-title {
    font-size: 20px;
    font-weight: bold;
    color: #b19f91;
    border-bottom: 2px solid #b19f91;
    padding-bottom: 6px;
    margin: 16px 0 12px 0 !important;
}

.wrap-neighborhood {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 400px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.wrap-neighborhood a:first-child {
    z-index: 1;
    width: 100%;
    height: 100%;
}

.wrap-neighborhood::before {
    content: '';
    background: #00000063;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.neighborhood-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.neighborhood-title {
    position: absolute;
    bottom: 100px;
    font-size: 25px;
    z-index: 10;
    color: white;
    font-family: 'Russo One', sans-serif;
}

a.neighborhood-link {
    position: absolute;
    bottom: 30px;
    background: #e28e5c;
    border-radius: 4px;
    text-align: center;
    color: white;
    padding: .4rem 1rem;
    z-index: 10;
}

.neighborhood .owl-prev,
.neighborhood .owl-next {
    top: 45%;
}

.wrap-hlr-navigation {
    position: fixed;
    top: 25%;
    right: 10px;
    width: 154px;
    background: #7c6f64;
    border-radius: 10px;
    padding: 10px;
    z-index: 9999 !important;
    transition: all .3s;
}

.hlr-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.hlr-navigation-item {
    width: 100%;
    background: #665c54;
    border-radius: 6px;
    padding: 6px;
    text-align: center;
    /* box-shadow: inset 0px 0px 8px 3px #dddddd; */
    color: #e28e5c;
    font-size: 13px;
}


.wrap-hlr-navigation-fixed {
    width: 100%;
    background: #7c6f64;
    padding: 10px;
    transition: all .3s;
    z-index: 9999 !important;
    box-shadow: 2px 1px 3px #342828;
}

.hlr-navigation-fixed {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.hlr-navigation-item-fixed {
    width: 100%;
    background: #665c54;
    color: #e28e5c;
    border-radius: 6px;
    padding: 6px;
    text-align: center;
    /* box-shadow: inset 0px 0px 8px 3px #dddddd; */
    font-size: 13px;
}

.close-hlr-navigation {
    position: absolute;
    left: -22px;
    top: 10%;
    background: #7c6f64;
    padding: 6px;
    z-index: 0;
    color: #e28e5c;
    cursor: pointer;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
}

.close-nav {
    transform: translateX(154px);
}

.card-form {
    background: #32302f;
    padding: 10px 20px;
}

.text-muted {
    color: #3c3836 !important;
}

.bg-box-slider {
    background: linear-gradient(124deg, #3c3836 0%, #7c6f64 32%, #3c3836 62%, #3c3836 100%);
}

.switch-mode {
    width: 30px;
    height: 30px;
    background: #665c54;
    color: #e28e5c;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background: #282828;
}

.text-warning {
    color: #e28e5c !important;
}

.my-my-1 {
    border: 2px dashed #e28e5c !important;
}

.wpcf7-form-control {
    background: #504945 !important;
    color: #b19f91 !important;
}

label {
    color: #7c6f64 !important;
}

.wpcf7-submit {
    background: #e28e5c !important;
    color: #fff !important;
}

.modal-content {
    background-color: #282828;
}

.modal-body-login .input-icon {
    color: #b19f91;
}

.modal-content-login .modal-body-login .btn {
    color: #7c6f64;
    background: #3c3836;
    box-shadow: none !important;
}

.btn-orange-form {
    box-shadow: none !important;
    color: #282828 !important;
    background: #7c6f64 !important;
}

.wrap-bottom-login .forgot-pass {
    color: #e28e5c;
}

.wrap-bottom-login .forgot-pass {
    text-decoration: none;
    color: #e28e5c;
}

.wrap-bottom-login .forgot-pass:hover {
    color: #e37d43;
}

.start-price {
    background: #7c6f64;
    display: inline;
    padding: 6px 18px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 13px;
    font-weight: bold;
    color: #32302f;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    cursor: pointer;
    background-color: #e28e5c;
    color: #32302f;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    z-index: 9999;
}

#back-to-top i {
    margin-top: 14px;
    font-size: 20px;
}

.carousel-fade .carousel-item.active {
    z-index: auto !important;
    opacity: 1;
}

.wrap-form label,
.my-h-textarea label {
    width: 100%;
}

.wrap-form {
    gap: 10px;
}

.wpcf7-radio {
    background: none !important;
}

.fit-form-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu {
    z-index: 99999 !important;
}

.fixed-menu {
    position: fixed;
    width: 100%;
    z-index: 9999 !important;
}

.top-0 {
    top: 0;
}

.top-48 {
    top: 48;
}

.modal-footer {
    border-top: 2px solid #665c54 !important;
}

.form-image {
    max-width: 756px;
    margin: 0 auto;
}

.rating-stars ul>li.star {
    display: inline-block;
    cursor: pointer;
}

.rating-stars ul>li.star>i.fa {
    font-size: 1.5em;
    color: #665c54;
}

.rating-stars ul>li.star.hover>i.fa {
    color: #b19f91;
}

.rating-stars ul>li.star.selected>i.fa {
    color: #e28e5c;
}

.rating-section {
    display: flex;
    align-items: center;
}

.rating {
    color: #b19f91;
    margin-right: 6px;
}

.votes {
    color: #b19f91;
    margin-left: 6px;
    border-left: 1px solid #b19f91;
    padding-left: 14px;
}

.rating-stars ul>li.star-rated {
    display: inline-block;
}

.rating-stars ul>li.star-rated>i.fa {
    font-size: 1.5em;
    color: #665c54;
}

.rating-stars ul>li.star-rated.selected>i.fa {
    color: #e28e5c;
}

.image-floorplan img {
    width: 100%;
}

.floorplan-header {
    color: #b19f91;
}

.floorplan-price .from-price {
    font-weight: bold;
    font-size: 28px;
}

.floorplan-item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 4px;
}

.floorplan-item .title-item {
    color: #665c54;
    font-size: 16px;
}

.floorplan-item .content-item {
    color: #b19f91;
    font-size: 18px;
}

.border {
    border-color: #665c54 !important;
    border-radius: 4px !important;
}

#accordion {
    width: 100%;
}

button.btn.btn-link {
    text-decoration: none;
    color: #b19f91;
    outline: none;
    box-shadow: none;
    font-weight: bold;
    font-size: 20px;
    transition: all .3s;
}

button.btn.btn-link:hover {
    color: #FF912C;
}

#headingOne {
    border-bottom: unset;
}

.card-header {
    background: none;
}

.square-foot-head {
    font-size: 14px;
    color: #b19f91;
    margin-bottom: .4rem;
}

.square-foot-price {
    margin-bottom: 1.8rem;
}

.square-foot-price span {
    font-size: 56px;
    font-weight: bold;
    margin-right: 20px;
}

.square-foot-title {
    font-weight: bold;
    font-size: 30px;
}

.square-foot-title {
    margin-bottom: 1rem;
}

.square-foot-item {
    margin-bottom: 1rem;
}

.square-foot-item .name {
    color: #665c54;
}

.square-foot-item .value,
.square-foot-price,
.square-foot-title {
    color: #b19f91;
}

.status-floorplan {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
}

.status-color-success {
    background: #5dae44;
}

.status-color-danger {
    background: #cf3f3f;
}

.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate {
    padding-top: 2rem !important;
    color: #665c54 !important;

}

.wrap-head-floorplan {
    display: flex;
    align-items: center;
    gap: 20px;
}

.wrap-head-floorplan img {
    width: 50px;
    height: 50px;
}

table {
    color: #b19f91 !important;
}

#example_filter label input{
    color: #b19f91 !important;
}

select {
    color: #b19f91 !important;
    background: #665c54 !important;
    border: none;
    border-top-left-radius: unset !important;
    border-bottom-left-radius: unset !important;
    box-shadow: none;
}

.btn-status-floorplan {
    background: #32302f;
    color: #b19f91;
    border: none;
    border-top-right-radius: unset !important;
    border-bottom-right-radius: unset !important;
}